<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="de.flower.rmt.ui"/>

    <!-- *********************************************************************** -->
    <!-- Security Stuff                                                          -->
    <!-- *********************************************************************** -->

    <security:http create-session="ifRequired" auto-config="true">
        <security:remember-me/>
        <security:intercept-url pattern="/manager/**" access="ROLE_MANAGER"/>
        <security:intercept-url pattern="/player/**" access="ROLE_PLAYER"/>
        <!--  access to wicket/resources is vital.
        <security:intercept-url pattern="/wicket/**" access="ROLE_NEVER" /> -->
        <security:intercept-url pattern="/wicket/bookmarkable/**" access="ROLE_NEVER" />
        <security:form-login login-page="/login" authentication-failure-url="/login?error=1"/>
        <security:logout logout-success-url="/"/>
    </security:http>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider user-service-ref="userDetailService">
        </security:authentication-provider>
    </security:authentication-manager>

    <security:global-method-security secured-annotations="enabled"/>

    <bean id="securityContextHolderStrategy" class="org.springframework.security.core.context.SecurityContextHolder"
          factory-method="getContextHolderStrategy">
    </bean>


</beans>