<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="de.flower.rmt.ui"/>
    <context:component-scan base-package="de.flower.common.ui"/>

    <!-- configure jsr303 validation via javaconfig -->
    <bean class="org.wicketstuff.jsr303.spring.JSR303SpringConfig" />

    <bean id="filter" class="de.flower.common.ui.serialize.Filter">
        <property name="blackList">
            <list>
                <value>de\.flower\.rmt\.model\.db\.entity\..*</value>
                <value>ch\.qos\.logback\.classic\.Logger</value>
            </list>
        </property>
        <property name="whiteList">
            <list>
                <value>.*Behavior</value>
                <value>.*Panel</value>
                <value>.*EntityForm</value>
                <value>.*FormComponent</value>
                <value>.*Page</value>
                <value>.*Model</value>
                <value>.*DataProvider</value>
                <value>org\.apache\.wicket\..*</value>
                <value>de.flower.common.ui.ajax.event.AjaxEventListener</value>
                <value>de.flower.common.ui.ajax.markup..*</value>
                <value>de.flower.common.ui.markup..*</value>
                <value>de.flower.common.ui.modal.ModalDialogWindow</value>
                <value>de.flower.common.ui.modal.ModalDialogWindowPanel</value>
                <value>de.flower.common.util.geo.LatLng</value>
                <value>de.flower.rmt.model.dto..*</value>
                <value>de.flower.rmt.ui.feedback..*Message</value>
                <value>de.flower.rmt.ui.markup.html.form..*</value>
                <value>de.flower.rmt.ui.page.event.EventDetailsPanel\$SurfaceListLabel</value>
                <value>de.flower.rmt.ui.page.event.EventDetailsPanel\$UniformLabel</value>
                <value>de.flower.rmt.ui.panel.QuickResponseLabel</value>
                <value>de.flower.rmt.ui.panel..*</value>
                <value>java.lang.Object</value>
                <value>java.util.AbstractList</value>
                <value>javax.mail.internet.InternetAddress</value>
                <value>org.wicketstuff.jsr303.validator.FormComponentBeanValidator</value>
                <value>org.wicketstuff.jsr303.validator.PropertyValidator</value>
                <value>de.flower.common.util.geo.LatLng</value>
                <value>wicket.contrib.gmap3..*</value>
                <!-- for TimeDropDownChoice -->
                <value>org.joda.time.LocalTime</value>
                <value>org.joda.time.tz.FixedDateTimeZone</value>
                <value>java.util.Arrays\$ArrayList</value>
            </list>
        </property>
    </bean>

    <util:map id="page404RedirectMapping">
        <entry key="/event" value="/events"/>
        <entry key="/player/event/" value="/events" />
    </util:map>

</beans>