Der Vereins-Manager $manager.getFullname() hat für Dich ein Benutzerkonto
im Rückmelde-Tool erstellt. Du bist nun als Spieler des Vereins $club.getName()
eingetragen und kannst Dich für die Spiele des Vereins zurückmelden.

Deine Zugangsdaten lauten:

E-Mail: $user.getUsername()
Password: $user.getInitialPassword()

URL: $u.appUrl

Hinweis: Bitte ändere das Passwort unmittelbar nach der Anmeldung.

#parse('footer-include.vm')
