Der Vereins-Manager $manager.getFullname() hat für Sie ein Benutzerkonto
im Rückmelde-Tool erstellt. Sie sind nun als Spieler des Vereins $club.getName()
eingetragen und können sich für die Termine des Vereins zurückmelden.

Ihre Zugangsdaten lauten:

E-Mail: $user.getUsername()
Password: $user.getInitialPassword()

URL: $u.appUrl

Hinweis: Bitte ändern Sie das Passwort unmittelbar nach der Anmeldung.

#parse('footer-include.vm')
