Der Club-Manager $manager.getFullname() hat für Sie ein Benutzerkonto
im Rückmelde-Tool erstellt. Sie sind nun als Spieler des Clubs $club.getName()
eingetragen und können sich für die Veranstaltungen des Clubs zurückmelden.

Ihre Zugangsdaten lauten:

Username: $user.getUsername()
Password: $user.getInitialPassword()

URL: $u.appUrl

Hinweis: Bitte ändern Sie das Passwort unmittelbar nach der Anmeldung.

#parse('footer-include.vm')
