


Veranstaltungsdetails
---------------------
Link: $eventLink

Team: $event.getTeam().getName()
Typ: $event.getEventType()
Datum: $eventDate
Treffpunkt: $eventTime
#if ($isSoccerEvent)
Anstoß: $kickoffTime
#end
#if ($event.getEventType() == $eventTypeMatch)
#set ($opponent = "<noch nicht festgelegt>")
#if ($event.getOpponent())
#set ($opponent = $event.getOpponent().getName())
#end
Gegner: $opponent
#end
#set ($venue = "<noch nicht festgelegt>")
#if ($event.getVenue())
#set ($venue = $event.getVenue().getName())
#end
Ort: $venue
#if ($isSoccerEvent)
#set ($uniform = "<Trikotsatz nicht festgelegt>")
#if ($event.getUniform())
#set ($uniform = $event.getUniform().getName())
#end
Trikotsatz: $uniform
Untergrund: $surfaceList
#end
Titel: $!event.getSummary()
Beschreibung: $!event.getComment()

