Das Passwort für Deinen Zugang zum Rückmelde-Tool wurde zurückgesetzt.

E-Mail Login: $user.getEmail()
Das neue Passwort lautet: $user.getInitialPassword()

Du kannst Dich nun mit dem neuen Passwort wieder am System anmelden.

Hinweis: Bitte ändere das Passwort unmittelbar nach der Anmeldung.

#parse('footer-include.vm')
