Das Passwort für Ihren Zugang zum Rückmelde-Tool wurde zurückgesetzt.

E-Mail Login: $user.getEmail()
Ihr neues Passwort lautet: $user.getInitialPassword()

Sie können sich nun mit dem neuen Passwort wieder am System anmelden.

Hinweis: Bitte ändern Sie das Passwort unmittelbar nach der Anmeldung.

#parse('footer-include.vm')
