<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
     ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%.5thread] %-5level %-46logger{46} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>rmt.log</file>
        <append>false</append>
        <!-- encoders are assigned the type
     ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%.5thread] %-5level %-36logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.cfg" level="WARN"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <!-- set to TRACE to see sql parameter values -->
    <logger name="org.hibernate.type" level="TRACE"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.hibernate.tool.hbm2ddl" level="DEBUG" />
    <!--
    <logger name="org.springframework" level="DEBUG" />
    <logger name="org.springframework.aop" level="DEBUG" />
    <logger name="org.springframework.instrument" level="DEBUG" />
    -->
    <!-- to see which beans are instantiated by spring -->
    <logger name="org.springframework.beans.factory" level="INFO"/>
    <logger name="org.aspectj" level="INFO"/>

    <logger name="org.apache.wicket" level="INFO" />

    <logger name="org.dbunit" level="INFO"/>
    <logger name="org.apache.commons" level="INFO"/>

    <!-- Tracing loggers. Set to INFO to disable. DEBUG: method calls, TRACE: constructor calls -->
    <logger name="trace.de.flower" level="INFO"/>
    <!-- exceptions to avoid too many output -->
    <logger name="trace.de.flower.common.test" level="INFO" />
    <logger name="trace.de.flower.common.model.AbstractBaseEntity" level="INFO" />
    <logger name="trace.de.flower.common.ui.ajax.updatebehavior.AjaxRespondListener" level="INFO" />
    <logger name="trace.de.flower.common.util.xstream.ClassEmittingReflectionConverter" level="INFO" />
    <logger name="trace.de.flower.common.ui.serialize" level="INFO" />
    <logger name="trace.de.flower.rmt.service" level="DEBUG" />

    <logger name="de.flower" level="DEBUG" />

    <logger name="xstream" additivity="false" level="TRACE" >
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.wicketstuff" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>