BEGIN:VCALENDAR
PRODID:-//Microsoft Corporation//Outlook 11.0 MIMEDIR//EN
VERSION:2.0
METHOD:PUBLISH
BEGIN:VEVENT
ORGANIZER:MAILTO:oliver@flower.de
DTSTART:20100809T171500Z
DTEND:20100809T190000Z
TRANSP:OPAQUE
SEQUENCE:0
UID:040000008200E00074C5B7101A82E0080000000050B91EBCCB37CB010000000000000000100
 000002769FD6861803A45AADF337F1705C5CC
DTSTAMP:20100809T120408Z
DESCRIPTION:http://www.flower.de/juve/rueck/confirmationlist.php?grp=altedame&cnf_gam_i
 d=21\n
SUMMARY:Alte Däme: Gegner: Monty Lohöf AH - Spielort: Stadion Lohof
PRIORITY:5
X-MICROSOFT-CDO-IMPORTANCE:1
CLASS:PUBLIC
END:VEVENT
END:VCALENDAR
