/*************************************************************************
    copied from bootstrap.less.
    these functions/variables are not available if using precompiled bootstrap css.
**************************************************************************/
@black:             #000;
@grayDark:          lighten(@black, 25%);
@grayMedium:        lighten(@black, 50%);
@grayLight:         lighten(@black, 75%);
@borderColor:       #DDDDDD;
@widthContent:      560px;

// Border Radius
.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

// Opacity
.opacity(@opacity: 100) {
	filter: e(%("alpha(opacity=%d)", @opacity));
	-khtml-opacity: @opacity / 100;
	  -moz-opacity: @opacity / 100;
	       opacity: @opacity / 100;
}


/*************************************************************************
    overriding bootstrap settings
**************************************************************************/
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    /* smaller width than default 940px. */
    width: 820px;
}

// navbar text very dark
.navbar .nav > li > a {
    color: #bbb;
}
.navbar .caret {
    opacity: 0.6;
}
.navbar .dropdown-menu li > h6 {
    padding-left: 15px;
}

/*************************************************************************
    base layout for pages
**************************************************************************/
html, body {
    /* needed for border-shadow on content divs */
    background-color: #E9E9E9;
}

html {
    // always show vertical scrollbar to avoid horizontal shifting of centered content when switching between a long and a short page.
    overflow-y: scroll;
}

body {
    padding-top: 40px; /* to adjust for usage of fixed topBar */
}

// ul are unstyled by default
ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0px;
}

li {
    color: @grayDark;
}

.content {
    /* defines border shadow and padding, margin of content */
    background-color: #FFFFFF;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin: 0 -20px;
    padding: 20px;
    padding-right: 18px; // 20px default. avoids layout bug when zooming out of page in firefox.
}

.page-header {
    // background-color: #F5F5F5;
    margin: -20px -20px 20px;
    padding: 20px 20px 10px;

    h1 {
        display: inline;
        margin-right: 10px;

        small {
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}

.page-footer {
    text-align: center;
    padding: 20px 20px 0px;
}

.content .main {
    width: @widthContent;
    /* let content always have a minimum width. looks nicer on empty pages. */
    min-height: 500px;
    border-right:  1px solid #CCCCCC;
    padding-right: 19px;
}


.secondary h4, .main h4 {
    line-height: normal;
    margin-bottom: 10px;
}

// have separate rule for IE8
.secondary > div {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.secondary > div:last-child {
    border-bottom: 0px;
}

.secondary .btn-wide {
    width: 198px; // 220 - padding - border
}

.secondary button.btn-wide {
    width: 218px; // 220 - border
}

.secondary .btn-group .dropdown-toggle {
    padding-left: 10px;
    padding-right: 10px;
}

.toggleButton {
    width: 198px; // 220 - padding - border
}


.secondary form {
    margin-bottom: 0px; // form-margin would add to bottom-padding of divs
}

.AjaxEditableMultiLineLabel {
    .enabled {
        cursor: pointer;
    }
}

/*************************************************************************
    reset wicket styling of modal window and use twitter styles instead
**************************************************************************/
.w_top_1, .w_bottom_1, .w_caption {
    display: none;
}
div.wicket-modal {
    div.w_right_1, div.w_content_1 {
        margin-left: 0px;
        margin-right: 0px;
    }
    div.w_content_2 {
        padding-top: 0px;
    }
    div.w_content_3 {
        border: 0px;
    }
}

/*************************************************************************
    alternate layout without secondary panel
**************************************************************************/
.no-secondary {
    .main {
        width: 820px;
        border-right: 0px;
    }
    .secondary {
        display: none;
    }
}


/*************************************************************************
    misc
    todo: check if can be replaced by bootstrap class
**************************************************************************/
.center {
    /* used by ajax-spinner */
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.align-right, td.align-right {
    text-align: right;
}

// get rid of outline
*, a, a:focus, .btn:focus {
    outline: none;
}

// for links that should not underline when hovering
a.no-hover:hover {
    text-decoration: none;
}

/*************************************************************************
  support for hiding/displaying manager-only stuff
**************************************************************************/
.view-player .manager-only {
    display: none;
}

/*************************************************************************
  links
**************************************************************************/
a.btn-link:after {
    // right arrow
    content: '\00A0 \2192';
    // float: right;  // causes issues in chrome
}


a.btn-link-external:after {
    // right double arrow
    content: '\00A0 \21D2';
    // float: right;
}

.btn-link-external, .btn-link {
    color: @grayDark;
}


/*************************************************************************
    ajax loading
**************************************************************************/
#veil .ajax-loader {
    height: 100%;
}

.ajax-loader {
    background: url(../img/ajax-loader.gif) center no-repeat;
    height: 16px;
    width: 16px;
}


/*************************************************************************
   form field tweaking
**************************************************************************/
textarea {
    resize: vertical;
}

input[type="checkbox"] {
    margin-right: 5px;
    margin-bottom: 3px;
    maring-top: 0px;
}

/* override float:left from bootstrap */
input[type="checkbox"] + label {
    float: none;
    display: inline;
}

select {
    width: 220px;
}

select.input-small {
    width: 100px; // select box not same size as text input
}

// use default bootstrap settings for input-fields (datepicker is readonly but should look like normal input)
input[readonly].reset {
    background-color: #fff;
    border-color: #ccc;
    cursor: auto;
    &:focus {
        outline: 0;
        border-color: rgba(82,168,236,.8);
        @shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
        .box-shadow(@shadow);
    }
}

// give reset class the correct border in error cases
.error input[readonly].reset {
    border-color: #B94A48;
}

// white background for action panels
.form-actions {
	background-color: #FFFFFF;
}

// custom-made div look-alike a twitter formfield
.listarea {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    font-size: 13px;
    line-height: 18px;
    padding: 4px;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: inline-block;
    margin-bottom: 0;
    overflow: auto;
    // resize: vertical;
    min-height: 38px;
    max-height: 210px;
    li {
        list-style: none;
        color: #555555;
        .close {
            display: none;
        }
    }
    li:hover {
        background-color: #f5f5f5;
    }
    small {
        font-size: 80%;
    }
}

.listarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.control-group.error .listarea {
    color: #b94a48;
    border-color: #b94a48;
}

// red border for ckEditor
.control-group.error span.cke_skin_kama {
    border-color: #b94a48;
}

option[selected] {
    font-weight: bold;
}


/*************************************************************************
   form styling
**************************************************************************/
form .alert {
    display: inline-block; /* let div shrink to size of message. */
    margin-bottom: 0px;
}
// for displaying validation messages in a div and not a span like in twitter
form.form-horizontal .field {
    float: left;
    margin-right: 10px;
}
form.form-vertical {
    label {
        padding-left: 6px;
    }
    .form-actions {
        padding-left: 0px;
    }
    .input-xxlarge {
        width: 98%;
    }
    .error input {
        margin-bottom: 0px;
    }
}

form.form-horizontal .help-inline {
    padding-top: 5px;
}
.error input, .error textarea {
    background: url(../img/error.png) no-repeat scroll 98% 7px;
}
.valid input, .valid textarea {
    background: url(../img/valid.png) no-repeat scroll 98% 7px;
}


// forms in secondary panel should not use margin. required for feedbackpanel
.secondary form .input {
    margin-left: 0px;
}


/*************************************************************************
    form feedback
**************************************************************************/
.field-feedback {
    .feedback{
        margin-bottom: 5px;
    }
    .feedbackPanel {
        display: inline;
        margin: 0px;
    }
    .feedbackPanel li {
        display: inline;
    }
}

.form-feedback {
    ul {
        list-style: disc;
        margin-left: 25px;
        // margin-bottom: 0px;
    }
}

// non-form feedback message


/*************************************************************************
   readonly view of form-data
**************************************************************************/
div.form-horizontal {
    .control-label {
        padding-top: 0px; // override twitter default
    }
}



/*************************************************************************
   tabbed panel
   use bootstrap styling on wicket tabbed panels
**************************************************************************/
.tab-row {
    clear: both;
    ul {
        // todo: add .tabs to tabs-markup .tabs;
    }
    .selected > a, .selected > a:hover {
        -moz-border-bottom-colors: none;
        -moz-border-image: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #FFFFFF;
        border-color: @borderColor @borderColor transparent;
        border-style: solid;
        border-width: 1px;
        color: #808080;
        cursor: default;
    }
}

.tab-panel {
    padding-left: 2px; // looks better when table inside
}


/*************************************************************************
    navbar
**************************************************************************/
.dropdown-icon {
    padding-left: 5px;
}

.navbar .dropdown-menu {
    margin-top: 2px;  // increase to have little gap above dropdown menu and navbar
}

.navbar .brand {
    padding-bottom: 4px;
}

.brand a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}

// position beta span below brand

.beta {
    display: block;
    font-size: 10px;
    position: relative;
    left: 48px;
}

.navbar .dropdown-menu .no-action {
    padding: 3px 15px;
    display: block;
}

/*************************************************************************
    welcome messages
**************************************************************************/
.alert div {
    line-height: 28px;
    margin-bottom: 2px;
    margin-top: 5px;
}

.alert a {
    color: #404040;
    font-weight: bold;
}

.welcome-message {
    overflow: auto;

    div:first-child {
        float: left;
    }
    div:last-child {
        float: right;

		a {
			float: left;
		}
    }

    .close {
        margin-left: -10px;  // beyond my understanding of css.
        line-height: 28px;
        top: -1px;
    }
}


/*************************************************************************
    icons and labels
**************************************************************************/
// add some opacity to twitter icons
[class^="icon-"], [class*=" icon-"] {
    opacity: 0.6;
}

.xicon-abstract {
    padding: 1px 8px;
    border: 1px solid #ccc;
    .border-radius(9px);
    background-position: center center;
    background-repeat: no-repeat;
}

.xicon-checked, .xicon-unsure {
    .xicon-abstract;
    background-image: url(../img/checked.png);
}

.xicon-unsure {
    .xicon-abstract;
    background-image: url(../img/double-tilde.png);
}

.xicon-accepted {
    .xicon-abstract;
    background-image: url(../img/valid.png);
}

.xicon-declined {
    .xicon-abstract;
    background-image: url(../img/error.png);
}

.xicon-noresponse {
    .xicon-abstract;
    background-image: url(../img/question.png);
}

.xicon-info {
    .xicon-abstract;
    // todo add class to html markup .label;
    font-weight: 900; // as thick as possible
    padding: 1px 6px 0px 6px;
    // line-height: 18px;
    &:before {
        color: @grayDark;
        content: '!';
        font-size: 13px;
    }
}

td .DropDownMenuPanel {
    // give space to preceding info icon
    margin-left: 5px;
    float: right;
    ul {
        margin-top: -1px; // to vertically align with info-icon
    }
}

/*************************************************************************
    tooltips
**************************************************************************/
// custom tailor twipsy
.tooltip {
    // make it fully opaque
    &.fade.in {
        .opacity(100);
    }
}

/*************************************************************************
    football icon with dropdown menu on white background
**************************************************************************/
ul.dropdown {
    text-align: left; // in case parent container defines different alignment

    .dropdown-menu {
        right: 0px;
        // make it have top rounded corners
        border-radius: 6px;
        border-width: 1px;
        top: 25px;
        min-width: 120px;
    }

    .dropdown-toggle {
        padding-right: 5px;
    }

    // disable default hightlighted background when menu is open
    .dropdown.open .dropdown-toggle {
        // background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
        background: none;
        color: #FFFFFF;
    }

}

/*************************************************************************
    table styling
**************************************************************************/
.table {
    table-layout: fixed;
}

.table.not-fixed {
    table-layout: auto;
}

thead, .thead {
    border-bottom:  2px solid #CCCCCC;
}

table th, .table thead th, .table .th {
    vertical-align: top;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
}

.table tr.thead:hover .th {
    background-color: #FFFFFF; // disable for special invitation table
}

.table tbody td {
    border-bottom: 1px solid #CCCCCC;
    word-wrap: break-word; // to avoid long text overflowing table cells
}

.table .paging, .paging {
    text-align: right;
    a {
        color: @grayDark;
    }
    > span {
        color: @grayLight; // disabled link.
    }
    a:hover {
        text-decoration: none;
    }
    > * {
        padding: 0px 5px; // more gaps between controls
    }
    .goto {
        padding: 0px 2px; // less between pages
    }
}

.show-on-hover {
    display: none;
}

tr:hover .show-on-hover, li:hover .show-on-hover {
    display: inline;
}

.visible-on-hover {
    visibility: hidden;
}

tr:hover .visible-on-hover, li:hover .visible-on-hover {
    visibility: visible;
}

// when dropdown is open don't hide dropdown toggle
.dropdown.open .visible-on-hover {
    visibility: visible;
}


/*************************************************************************
    Inline editing
**************************************************************************/
.inline-edit {
    select {
        width: auto;
        height: auto;
        padding: 0px;
    }
    a:hover {
        text-decoration: none;
    }
}


/*************************************************************************
    login form
**************************************************************************/

.login-panel {
    left: 50%;
    min-height: 700px;
    position: absolute;
    top: 10%;
    .modal {
        position: absolute;
    }
}

.modal-header {
    border-bottom: 1px solid @borderColor;
}

#loginForm .form-actions, #loginForm, #loginForm fieldset {
    margin-bottom: 0px;
}

#loginForm input[type=checkbox] {
    margin-right: 10px;
    margin-top: 1px
}

#loginForm .password-forgotten, .email-forgotten {
    display: inline-block;
    a {
        font-size: 10px;
        margin-left: 5px;
    }
}



/*************************************************************************
    Event list
**************************************************************************/

td.rsvpstatus {
    width: 100px;
}

// list of icons summarizing response status
.InvitationSummaryPanel {
    width: 165px;
}

.num-invitation {
    padding-left: 4px;
    &:not(:last-child) {
        padding-right: 3px;
        width: 15px; // both single and double digits should fit into
        display: inline-block;
    }
}

/*************************************************************************
    Event quick navigation
**************************************************************************/
.PlayerEventSelectPanel, .ManagerEventSelectPanel {
    select {
        margin-bottom: 0px;
        width: @widthContent;
    }
}

.ManagerEventSelectPanel {
    margin-bottom: 20px;
}

/*************************************************************************
    Event details list
**************************************************************************/
.details {
    h6 {
        font-size: 10px;
        line-height: normal;
    }

    li {
        margin-bottom: 5px;
    }

    word-wrap: break-word;
}

.EventDetailsPanel {
    .details {
        li:first-child {
            float: left;
            width: 50%;
        }
    }
}

/*************************************************************************
    Notification
**************************************************************************/
textarea.input-xlarge, input.input-xlarge, .RecipientListPanel {
    width: 375px;
}

.NotificationPanel {
    textarea {
        height: 200px;
        white-space: pre;
        font-family: monospace;
        font-size: 85%;
    }
    .SelectTemplatePanel {
        margin-top: 20px;
        .dropdown-menu {
            min-width: 120px;
        }
    }
}

.RecipientListPanel {
    .listarea {
        float: left;
        margin-right: 10px;
    }
    .btn-group {
        // needed to have dropdown be positioned correctly
        float: left;
    }
}

/*************************************************************************
    modal windows
**************************************************************************/

.recipient-list {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid @borderColor;

    li:hover {
        background-color: #f5f5f5;
    }

    li.selected, li.selected:hover {
        background-color: #0088cc;
        label {
            color: #FFFFFF;
        }
    }
}

.recipient-list, .recipient-list-header, .recipient-list-footer {

    li {
        border-top: 1px solid #FFFFFF;
        padding-left: 10px;
        padding-right: 10px;
    }

    label {
        padding-top: 3px;
        padding-bottom: 3px;
        margin-bottom: 0px; // override twitter bootstrap

        input {
            // override twitter bootstrap
            display: inline;
        }
    }

}


/*************************************************************************
    Invitation list
**************************************************************************/
.num-responses {
    margin-left: 10px;
    font-size: 80%;
    font-weight: normal;
}

.CommentsPanel {
    // display top-border for 2,3,... comment
    li:nth-child(n+2) {
        border-top: 1px solid @borderColor;
        padding: 3px 0 1px 0px;
        textarea {
            margin-top: 2px; // some gap to top-border;
        }
    }
    .author {
        color: #BBBBBB;
        font-size: 9px;
        margin-left: 5px;
        // display: block;
    }
    .text {
        // override default settings
        div {
            cursor: pointer;
            display: inline;
        }
        p {
            margin-bottom: 0px;
            display: inline;
        }
    }
    textarea {
        // no border glowing
        box-shadow: none;
        border-color: #CCCCCC;
        width: 100%;
    }

}

/*************************************************************************
    Lineup + EventTeams - Draggables
**************************************************************************/

.draggable-container {
    position: relative;
    height: 29px;
}

.DraggableInviteeListPanel {
    ul {
        margin-top: 5px;
        margin-bottom: 10px;
    }
   .placeholder {
        position: absolute;
        color: #BBBBBB;
        text-align: center;
        width: 120px;
        padding: 3px 4px;
        border: 1px solid #F3F3F3;
        border-radius: 3px 3px 3px 3px;
    }
    .DraggableEntityLabel {
        span {
            // width: 100%; // since no remove button is visible
        }
    }
}

.EntityLabel, .placeholder {
    .name {
        overflow: hidden;
        display: block;
        float: left;
        width: 110px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.EntityLabel {
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    height: 18px;
    overflow: hidden;
    padding: 3px 4px;
    text-align: center;
    width: 120px;
    &.edit {
        cursor: move;
    }
    &.view {
        span {
            width: 100%; // since no remove button is shown
        }
    }
}

/*************************************************************************
     Droppable
**************************************************************************/
.droppable-hover {
    border: 1px;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


/*************************************************************************
     Lineup
**************************************************************************/
.lineup-grid {
    width: 540px;
    height: 262px;
    background-image: url('../img/football-field.jpg');
    .EntityLabel {
        background-color: #F3F3F3;
        border-color: #C9C9C9;
    }
    .no-lineup {
        position: relative;
        margin: 0px auto;
        text-align: center;
        top: 100px;
        width: 200px;
        background-color: white;
        border: 1px solid #CCCCCC;
        border-radius: 3px 3px 3px 3px;
    }
}

.LineupEditPanel, .LineupPanel {
    padding-top: 40px;
}

/*************************************************************************
    Event team
**************************************************************************/
.team-container {
    float: left;
    width: 130px;
    margin-right: 8px;
    margin-bottom: 15px;
}

.team-name {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
    span {
        width: 100px;
        height: 15px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    a {
        margin-right: 7px;
    }
    // editable label
    input {
        width: 110px;
        height: 15px;
        margin-bottom: -1px;
        margin-left: -2px;
        padding: 0px 0px 1px 0px;
        border: 1px solid #ccc;
        box-shadow: none;
        border-radius: 0px;
        // copy styles of h6
        color: #999999;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.player-grid {
    width: 100%;
    min-height: 60px;
    padding-bottom: 30px;
}

/*************************************************************************
    Vertical form in secondary panel
**************************************************************************/
.ul-form {
    li {
        margin-bottom: 0px;
        &.control-group {
            padding-bottom: 9px;
        }
    }
    .ul-form-actions {
        margin-top: 5px;
        .btn {
            width: 35%; // must reset default width of buttons in secondary panel
        }
    }
    label {
        padding-left: 2px;
        margin-bottom: 2px;
        &.checkbox, &.radio {
            padding-left: 19px; // restore bootstrap value
        }
    }
    select {
        padding-left: 0px; // to align text of selectbox with text of text input field.
    }
}


/*************************************************************************
    Invitation form
**************************************************************************/
.invitationForm {
    .status {
        margin-bottom: 9px; // same margin as input or textarea
    }
    .radio {
        display: block;
    }
    .FormFeedbackPanel {
        margin-top: 10px;
    }
}

/*************************************************************************
    Calendar edit panel form
**************************************************************************/


/*************************************************************************
    Table width for several tables
**************************************************************************/
.PlayerListPanel, .UserListPanel {
    .date {
        font-size: 80%;
    }
    .table {
        .name {
            width: 100px;
        }
        .email {

            // width: auto;
        }
        .teams {
            width: 140px;
        }
        .menu {
            width: 69px;
        }
        .role {
            width: 34px;
        }
    }
}
.EventListPanel {
    .table {
        .date {
            width: 78px;
        }
        tr.next-event {
            // background-color: #F5F5F5;
            font-weight: bold;
        }
        .canceled-event {
            color: @grayMedium;
            // font-style: italic;
        }
    }
    .table.player {
        .status {
            width: 96px;
        }
    }
    .table.manager {
        .invitations {
            width: 176px;
        }
        .menu {
            width: 69px;
        }
    }
}
.invitationListTable {
    thead {
        border-bottom: 0px;
    }
    thead th {
        // height: 0px;
        padding: 0px;
    }
    .thead .th {
        padding-top: 20px;
        border-top: 0px;
    }
    .thead:first-child .th {
        padding-top: 0px;
    }
    .date, .position {
        font-size: 80%;
    }
    .date {
        width: 110px;
    }
    .position {
        width: 36px;
    }
    .name {
        width: 110px;
    }
    .menu {
        width: 30px;
    }
}



/*************************************************************************
    Squad Page - Add player panel + Invitation Form
**************************************************************************/
.AddPlayerPanel, .AddInviteePanel, .AddGuestPlayerPanel, .InvitationFormPanel {
    .info-text {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .team {
        font-weight: bold;
    }
}


/*************************************************************************
    Blog
**************************************************************************/
.blog-unread {
    margin-left: 1px;
    i {
        opacity: 1.0;
    }
}

.ArticleListPanel, .ArticlePanel {
    .article {
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 30px;
        margin-bottom: 30px;

        a.heading {
            color: @grayDark;
        }
        h1 {
            font-size: 22px;
        }
        .meta {
            margin-bottom: 10px;

            .numComments {
                float: right;
            }
        }
        .text {
            line-height: 22px;
            * {
                line-height: 22px;
            }
            ul {
                // reset to default values
                list-style: inherit;
                margin-left:  25px;
                margin-bottom: 9px;
            }
        }
    }
    .BCommentsPanel {
        h4 {
            margin: 20px 0px;
        }
    }
    .comments {
        margin-top: 10px;
    }
    .comment {
        border-bottom: 1px dotted #CCCCCC;
        padding-bottom: 10px;
        margin-bottom: 10px;

        .meta {
            margin-bottom: 10px;
            font-size: 11px;
        }
        .text {
            * {
                line-height: 22px;
            }
        }
    }
    .comment, .CommentFormPanel {
        textarea {
            // no border glowing
            box-shadow: none;
            border-color: #CCCCCC;
            width: 98%;
            height: 150px;
        }
    }
}

.ArticleListPanel {
        .actions {
            margin-top: 10px;
        }
}
.ArticlePanel {
        .article .actions {
            font-size: 11px;
            margin-left: 10px;
        }
}



/*************************************************************************
    google maps
    need to set initial width and height.
**************************************************************************/
.map label {
    // must override bootstrap settings that would be applied to google maps elements to fix layout bug
    float: none;
    padding-top: none;
}
.venue-map {
    /* map with one venue on it */
    width: 400px;
    height: 300px;
}

.venues-map {
    /* map with all venues on it */
    width: @widthContent;
    height: 440px;
}

#venue-tabs {
    float: none;  /* needed to make map work inside tabs. */
}

.info-window {
    li {
        padding: 2px 0px;
    }
    .name {
        font-weight: bold;
    }
}
/*************************************************************************
    Geocoding panel
**************************************************************************/
.VenueEditPanel {
    .address textarea {
        margin-right: 10px; // margin to geocodebutton
        height: 73px; // 4 lines
    }
    // position search icon inside textarea
    .address {
        position: relative;
        .search-button {
            position: absolute;
            right: 12px;
            top: 2px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 3px 3px 3px 5px;
        }
    }
}

.GeocodeResultsPanel {
    .result-list {
        td {
            padding-top: 0px;
            padding-bottom: 0px;
        }
        a {
            padding: 8px 0px;
            color: @grayDark;
            display: block;
        }
    }
}

/*************************************************************************
    Weather widget
**************************************************************************/
iframe.wetteronline {
    border: 0px none;
    height: 308px;
    margin-left: -15px; // to left-align with heading
    overflow: hidden;
    width: 220px;
}

/*************************************************************************
    About page
**************************************************************************/
.AboutPanel, .ChangeLogPanel {

    .control-label {
        padding-top: 0px; // override twitter default
    }
    h3 {
        text-transform: uppercase;
        color: #999999;
        font-size: 16px;
        font-weight: normal;

        small {
            font-size: 10px;
        }
    }
    h6 {
        display: inline;
        font-size: 9px;
    }
    .date {
        color: #999999;
    }

    .items > li {
        margin-bottom: 10px;
    }
    .items ul {
        list-style: square;
        margin-left: 15px;
        margin-bottom: 5px;
    }
}

.ChangeLogPanel .controls {
    ul {
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

/*************************************************************************
    Activity feed
**************************************************************************/
.ActivityFeedPanel {
}

// hide scrollbar of inner ul. only scrolling by mouse-wheel
.activity-feed-container {
    overflow-x: hidden;
}
.activity-feed {
    width: 235px;
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px; // to have some padding when scrollbar appears
    .status {
        font-style: italic;
    }
    .btn-more {
        visibility: hidden; // hide initialy (for feeds without any content)
    }
    // center ajax-spinner
    .btn-more .ajax-loader {
        margin-left: auto;
        margin-right: auto;
    }
}
.activity-feed, .LatestCommentsPanel {
    ul {
         width: 220px; // need for ipad
    }
    li {
        padding: 5px 0px;
        border-bottom: 1px dotted #CCCCCC;
        font-size: 85%;
        line-height: 15px;
        h6 {
            font-size: 9px;
            // text-transform: none;
        }
        .spacer {
            height: 3px;
        }
    }
}

/*************************************************************************
    Calendar
    see also fullcalendar.css (patches at end of file)
**************************************************************************/

.fc-event-skin {
    background-color: inherit;
    border-color:  inherit;
}

.fc-event {
    height: 18px;
}
.fc-event:hover {
    height: auto;
    z-index: 100 !important; // to overlap other events
}
.fc-view {
    overflow: visible; // to make events at bottom of calendar overflow calendar when hovering
}

.fc-styled-event(@color) {
    background-color: @color;
    border-color: @color;
    &:hover {
        background-color: darken(@color, 10%);
        border-color: darken(@color, 20%);
    }
}

.cal-type-user {
    .fc-styled-event(#6666CC);
}

.cal-type-others {
    .fc-styled-event(#336699);
}

.cal-type-event {
    .fc-styled-event(#996644);
}


/*************************************************************************
    CkEditor patches are located at the end of the original files.
**************************************************************************/



/*************************************************************************
    Wicket debug bar
**************************************************************************/
#wicketDebugBar {
    z-index: 99999999; // to stay on top of navbar
}
