/*************************************************************************
    validation stuff
**************************************************************************/
.error {
    background-color: #ff0000;
}

.valid {
    background-color: #00cd00;
}

/*************************************************************************
    misc
**************************************************************************/
.center {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*************************************************************************
    ajax loading
**************************************************************************/
#veil .ajax-loader {
    height:100%;
}


.ajax-loader {
    background: url(../img/ajax-loader.gif) center no-repeat;
    height: 16px;
    width: 16px;
}

/*************************************************************************
    google maps
    need to set initial width and height.
**************************************************************************/
.venue-map { /* map with one venue on it */
    width: 400px;
    height: 300px;
}

.venues-map { /* map with all venues on it */
    width: 500px;
    height: 400px;
}

/*************************************************************************
    debugging
**************************************************************************/
.panel {
    border: 1px solid red;
}