/*************************************************************************
    validation stuff
**************************************************************************/
.error {
    background-color: #ff0000;
}

.valid {
    background-color: #00cd00;
}

/*************************************************************************
    validation stuff
**************************************************************************/
#veil #ajax-loader {
    background: url(../img/ajax-loader.gif) center no-repeat;
    height:100%;
}
